<cds-header brand="HMD" name="[9]">
  <cds-hamburger></cds-hamburger>
  <cds-header-navigation>
    <ng-container *ngFor="let item of headerItems">
      <cds-header-item
        *ngIf="!isMenuItem(item)"
        [isCurrentPage]="item.isCurrentPage || false"
        (click)="onItemClick(item)"
        (keydown)="onItemKeydown($event, item)"
        tabindex="0"
      >
        {{ item.content || '' }}
      </cds-header-item>

      <cds-header-menu *ngIf="isMenuItem(item)" [title]="item.title || ''">
        <cds-header-item
          *ngFor="let subItem of item.menuItems"
          (click)="onItemClick(subItem)"
          (keydown)="onItemKeydown($event, subItem)"
          tabindex="0"
        >
          {{ subItem.content || '' }}
        </cds-header-item>
      </cds-header-menu>
    </ng-container>
  </cds-header-navigation>
  <cds-header-global>
    <cds-header-action description="User Profile">
      <svg cdsIcon="user" size="20"></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>
